body {
    background-color: rgba(0, 0, 0, 0.15);
    background-image: url("../imgs/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

}

.parent {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

.text_font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size:25px;
    font-weight: 400;
    font-style: normal;

}

#account_text {
    font-size: clamp(4rem, 20vw, 8.5rem); /* adjusts font size
                                             based on device width */
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;


    color: #FFFFFF;
    position: relative;
    -webkit-text-stroke: 2px black;
}